.product-container{
    padding-top: 8px;
}

.form-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.currency{
    margin: 8px;
}