<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h1 mat-dialog-title>Edit Address</h1>

<form [formGroup]="userForm">
  <div mat-dialog-content class="address-container">

    <div class="form-street-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street + House No.</mat-label>
        <input [disabled]="loading" formControlName="street" matInput placeholder="Address">
        <mat-error *ngIf="userForm.get('street').hasError('required')">
          Please provide a street address.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-address-container">
      <mat-form-field appearance="outline">
        <mat-label>ZIP code</mat-label>
        <input [disabled]="loading" formControlName="zipCode" type="number" matInput placeholder="ZIP code">
        <mat-error *ngIf="userForm.get('zipCode').hasError('required')">
          Please provide a ZIP code.
        </mat-error>
        <mat-error *ngIf="userForm.get('zipCode').hasError('pattern')">
          Please provide a valid ZIP code.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" formControlName="city" matInput placeholder="City Name">
        <mat-error *ngIf="userForm.get('city').hasError('required')">
          Please provide a city.
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
      <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
    </div>
  </div>
</form>
