#divChart {
    background-color: white;
    border-radius: 10px;
    display: block;
    height: 50dvh;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1{
        font-weight: bold;
    }
}


@media (max-width: 1000px) {

    #divChart {
        height: 70dvh;
    }
}