.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
}

.login-card {
    width: 300px;
}

.form {
    max-width: 400px;
    max-height: 300px;
    padding: 32px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: center;
    }
}

mat-card-content {
    height: 100%;
    padding: 0;
}

.btn-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    color: #1976D2;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.signup-link a:hover {
    color: #1565C0;
}