<mat-drawer-container class="mat-drawer-container" [autosize]="isSmallScreen" *ngIf="authService.isAuthenticated">
    <mat-drawer #drawer class="sidenav" [opened]="!isSmallScreen" [mode]="drawerMode">

        <div class="sidenav-content" *ngIf="authService.isAuthenticated">
            <div class="sidenav-top">
                <div class="logo-container">
                    <img class="logo-img" src="assets/img/logo.png">
                </div>
                <ul class="menu-items">
                    <li routerLink="/dashboard"><mat-icon>fact_check</mat-icon>Dashboard</li>
                    <li routerLink="/user"><mat-icon>perm_identity</mat-icon>Customer</li>
                    <li routerLink="/products"><mat-icon>inventory_2</mat-icon>Products</li>
                </ul>
            </div>
            <div class="sidenav-bottom">
                <ul class="sidenav-bottom-content">
                    <li (click)="logout()"><mat-icon>logout</mat-icon>Logout</li>
                </ul>

            </div>
        </div>
    </mat-drawer>

    <div>
        <mat-toolbar color="primary" *ngIf="authService.isAuthenticated">
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Simple CRM</span>
        </mat-toolbar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>

<div *ngIf="productService.loading || userService.loading" class="overlay">
    <mat-spinner diameter="100"></mat-spinner>
    <h1>Sie werden angemeldet..</h1>
</div>