.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

mat-card-content {
  height: 100%;
  padding: 0;
}

.signup-card {
  width: 300px;
}

.signup-form {
  max-width: 400px;
  padding: 32px;

  h1 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 16px;
  }

  button {
    width: 100%;
    margin: 4px 0;
  }
}

.login-link {
  text-align: center;

  a {
    color: #1976D2;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }

  a:hover {
    color: #1565C0;
  }
}

.user-add-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-hint {
    color: red;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

}