<div class='impressum'>
    <h1>Imprint</h1>
    <p>Information according to § 5 TMG</p>
    <p>Furkan Ayhan <br>
        Max-von-Eyth-Straße<br>
        74889 Sinsheim <br>
    </p>
    <p> <strong>Represented by: </strong><br>
        Furkan Ayhan<br>
    </p>
    <p><strong>Contact:</strong> <br>
        E-Mail: <a href='mailto:furkan197@outlook.de'>furkan197@outlook.de</a><br></p>
    <p><br><strong>Data protection</strong><br><br>
        The use of my website is usually possible without providing personal data. As far as on my page personal data
        (such as name, address or e-mail addresses) are collected, this is, as far as possible, on a voluntary basis.
        This data will not be disclosed to third parties without your express consent.
        I point out that data transmission over the Internet (eg communication by e-mail) can have security gaps. A
        complete protection of the data against access by third parties is not possible.
        The use of contact information published in the imprint by third parties for sending unsolicited advertising and
        informational materials is hereby rejected. The site operator expressly reserves the right to take legal action
        in the event of unsolicited receipt of advertising information, such as spam emails.<br>
    </p><br>
    Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
        href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und
        Familienrecht</a>
</div>