<mat-card>
    <mat-card-content *ngIf="allProducts && allProducts.length > 0">
        <table class="products-table">
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let product of allProducts">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}€</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button class="product-add-btn" (click)="openDialog()" mat-fab color="primary"
    aria-label="Example icon button with a delete icon" matTooltip="Add User" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>