<mat-card>
    <mat-card-content *ngIf="allProducts && allProducts.length > 0">
        <table class="products-table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Sales</th>
            </tr>
            <tr *ngFor="let product of allProducts">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}€</td>
                <td>{{ product.sales }}</td>
                <button class="product-more" mat-icon-button [matMenuTriggerFor]="productMenu" >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #productMenu="matMenu">
                    <button mat-menu-item (click)="openEditDialog(product)">Edit</button>
                </mat-menu>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button class="product-add-btn" (click)="openDialog()" mat-fab color="primary"
    aria-label="Example icon button with a delete icon" matTooltip="Add Product" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>