<mat-card class="user-detail-header">
    <button class="dot-btn" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>
    <img class="default-profile" src="assets/img/default-profile.png">
    <div class="user-details">
        <h2>{{user.firstName}} {{user.lastName}}</h2> <br>
        <span>{{user.email}}</span>
    </div>
</mat-card>

<mat-card class="mt-32">
    <button class="dot-btn" mat-icon-button [matMenuTriggerFor]="adressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #adressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>
    <mat-card-header>
        <mat-card-title>Adresse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{user.street}} <br>
        {{user.zipCode}} {{user.city}}
    </mat-card-content>
</mat-card>

<mat-card class="mt-32 user-purchases">
    <mat-card-title>Purchases</mat-card-title>
    <table class="user-table" *ngIf="userPurchases">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Units</th>
        </tr>
        <tr *ngFor="let purchase of userPurchases">
            <td>{{ purchase.name }}</td>
            <td>{{ purchase.price }}</td>
            <td>{{ purchase.sales }}</td>
        </tr>
    </table>
    <div class="no-purchases-container" *ngIf="!userPurchases">No Purchases</div>
</mat-card>