.user-detail-header{
    height: 250px;
    background-color: #F27C21;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 18px 20px;
    flex-direction: row;
    gap: 8px;
}

.default-profile{
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.user-details{
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2{
        margin-bottom: 0;
    }
}

.dot-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.user-purchases{
    mat-card-title{
        padding-top: 16px;
        padding-left: 16px;
    }
}