<div class="divSales" [hidden]="!authService.isAuthenticated" [style.display]="authService.isAuthenticated ? 'flex' : 'none'">
    <h1><mat-icon>trending_up</mat-icon>Top-Selling Product </h1>
    <h2 class="topProduct"> {{ topProduct }}</h2>
</div>

<div class="divRevenue" [hidden]="!authService.isAuthenticated" [style.display]="authService.isAuthenticated ? 'flex' : 'none'">
    <h1><mat-icon>insert_chart</mat-icon>Total Revenue </h1>
    <h2 class="totalRevenue"> {{ totalRevenue }}€</h2>
</div>